[Desktop Entry]
Encoding=UTF-8
Name=BelCoin
Comment=BelCoin P2P Cryptocurrency
Comment[ru]=BelCoin, P2P криптовалюта
Comment[fr]=BelCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BelCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/belcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/belcoin80.xpm
MimeType=x-scheme-handler/belcoin;
Categories=Office;
